<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <title>Dashboard</title>
</head>
<body>
  {{> navbar}}
  <br><br>

<div class="container">
  
  <div class="row">
      <h3> Quick nav  </h3>
      <hr>
      <table class='table table-striped'>
          <a href="/items" style='text-decoration:none; color:rgb(69, 178, 182); font-size:1.4em'> View All Products</a>
         <td><h5>Categories</h5></td>
         
          <tr>
           {{# if category}}
            {{# each category }}
            
              <td><a href="/items/{{this.title}}"  style='text-decoration:none; color:rgb(72, 162, 165);'> > {{this.title}}</a></td>
            </tr>
            <br>
    {{/each}}                     
<br>

{{/if}}
      </table>   
  </div>
</div>
</body>
</html>
