<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/stylesheets/style.css">
  <title>Dashboard</title>
</head>
<body>
  {{> navbar}}
  <br><br>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h3>Categories</h3>
      <br>
      <ul class="list-group">
        <ul class="list-group-item">
          <a href="/items"> View All Products</a>
          <hr>
           {{# if category}}
            {{# each category }}
            <a href="/items/{{this.title}}">{{this.title}}</a>
            <br>
    {{/each}}                     
<br>

{{/if}}
        </ul>
      </ul>
    </div>  
  </div>
</div>
</body>
</html>
