.card img{
  max-width: 170px;
  align-self: center;
  padding-top:20px;
}
.card p{
  color:rgb(100, 100, 100);
  align-self: center; 
}
.card .btn{
  color:whitesmoke;
  float:right;
}
.card .price{
  font-size:20px;
  float:left;
}
#previewimage{
  margin:10px;
  max-width: 30px;
}