<hr>
<h1>Sign Up</h1>

{{! to output error messages using flash}}
{{#if errors}}
    <div>
        {{# each messages}}
            <p>{{this}}</p>
        {{/each}}
    </div>
{{/if}}
<br>
<form action="/user/register" method="POST">
    <div class='form-group'>
        <label for="email">Email</label>
        <input type="email" id='email' name='email' placeholder='xyz@xyz.com' class='form-control'>
    </div>
    <div class='form-group'>
        <label for="password">Password</label>
        <input type="password" id='password' name='password'placeholder='Enter password' class='form-control'>
    </div>
    <div class='form-group'>
        <label for="contact">Contact</label>
        <input type="text" id='contact' name='contact' placeholder='123-456-6780'class='form-control'>
    </div>
    <button type="submit" class='btn btn-success'>Sign Up!</button>
</form>
