<hr>
<h1>Log in as</h1>

<form action="/role" method="POST">
     <div class='form-group'>
        <label for="role" style="padding-right:7px; font-size:1.6em">Role </label>

        <select name="role" id="role" >
            <option value="customer">Customer</option>
            <option value="seller">Seller</option>
        </select>
    </div>
    <br>
    <button class='btn btn-success' type="submit">Continue</button>
</form>